<% title = 'OpenMRS ID - OAuth Admin' %>
<% headline = 'OAuth Client Registration' %>

<h2>Registered Clients</h2>

<ul>
  <% for (var i in clients) { %>
  <li><h3><%= clients[i].name %></h3>
    <dl>
      <dt>Client ID</dt>
      <dd><%= clients[i].id %></dd>
      <dt>Shared Secret</dt>
      <dd><%= clients[i].secret %></dd>
      <dt>Redirect URI</dt>
      <dd><%= clients[i].redirectURI %></dd>
    </dl>
    <a href="oauth/delete/<%=clients[i].id%>">Delete Client</a>
  </li>
  <% } if (clients.length === 0) { %>
  <p>There are no registered clients. Boo.</p>
  <% } %>
</ul>

<h2>Add a new client</h2>
<form method="post">
  <div class="field">
    <label>Client Name</label>
    <input type="text" name="name" placeholder="Name">
    <span class="description">
      The client's name identifies it to users the consent dialog.
    </span>
  </div>
  <div class="field">
    <label>Shared Secret</label>
    <input id="sharedSecret" type="text" name="secret" placeholder="Secret" autocomplete="off">
    <span class="description">
      ( <a href="javascript:generateSecret()">generate a secret</a> ) The secret is
      checked during the token authorization process. In case you couldn't tell
      by the name, don't ever publicize the secret.
    </span>
  </div>
  <div class="field">
    <label>Redirect / Callback URI</label>
    <input type="text" name="redirectURI" placeholder="URI">
    <span class="description">
      This URI points to a resource that can receive the grant token. Authorization
      requests must specify this <em>exact</em> redirect URI.
    </span>
  </div>
  <input type="submit" value="Add Client">

</form>

<script type="text/javascript">
function generatePassword() {
    var length = 12,
        charset = "abcdefghijklnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789",
        retVal = "";
    for (var i = 0, n = charset.length; i < length; ++i) {
        retVal += charset.charAt(Math.floor(Math.random() * n));
    }
    return retVal;
}

function generateSecret() {
  document.getElementById('sharedSecret').value = generatePassword()
}

</script>
